force-app/main/default/flows/Product_Varriant_Roll_up_Quantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Sum</name>
        <label>Sum</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Totals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_PO.Order_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_PO</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Product Varriant Roll up Quantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Varriant Roll up Quantity</label>
    <loops>
        <name>loop_PO</name>
        <label>loop PO</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>get_all_PO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_PO</name>
        <label>get all PO</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Productname__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Productname__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PO_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Productname__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>Totals</elementReference>
            </value>
        </inputAssignments>
        <object>HaravanProductVariant__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_all_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Quantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PO_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TotalQuantity</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Totals</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
